@page "/Data/Employee"

@using DataAccessLibrary
@using DataAccessLibrary.Model

 @inject IEmployeeData db




<h1>Employee Page</h1>
<h4>Current Employee</h4>

@code {
    private List<EmployeeModel> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await this.db.GetEmployee;
    }

}
