@page "/Data/People"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IEmployeeData this.db
<h1>Employee Page</h1>

<h4>Current People</h4>

@code {
private List<EmployeeModel> employee;

}
 